<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<div class="container-fluid">
    <h1><%= location %></h1>
    <br />
    <h2><%= title %></h2>

    <a href="/sm/boarding">Boarding Read</a>
    <br />
    <a href="/sm/calendar">Calendar Read</a>
    <br />
    <a href="/sm/daycare">Daycare Read</a>
    <br />
    <a href="/sm/grooming">Grooming Read</a>
    <br />
    <a href="/sm/owner">Owner Read</a>
    <br />
    <a href="/sm/package">Package Read</a>
    <br />
    <a href="/sm/pet">Pet Read</a>
    <br />
    <a href="/sm/report">Report Read</a>
    <br />
    <a href="/sm/scheduled_service">Scheduled Service Read</a>
</div>




<%- include('../partials/footer') %>