<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<div class="container-fluid">
    <h1><%= location %></h1>
    <br />
    <h2><%= title %></h2>

    <a id="authenticate" href="" class="btn btn-success" role="button">Authenticate</a>
    <div id="result"></div>
</div>

<script>
    $(function() {
        var baseUrl = 'https://dogtopia.petexec.net/api';
        var client_id = '2677a52f1112e27dbf61f7ddd0dd9c4c';//Your client_id from registered app
        var scope = 'pet_read';//Scope you want to request
        var redirect_uri = 'https://petexec-tokens.herokuapp.com/cm/pet';//Where we want to be redirected to after authentication
    
        var access_token = '';//This is where we will save the access_token when we have it.
    
        $('#authenticate').attr('href', baseUrl + '/authorize?response_type=token&client_id=' + client_id + '&state=xyz&redirect_uri=' + redirect_uri + '&scope=' + scope);
    
        //Check if page has access_token
        var hash = window.location.hash;
    
        if(window.location.href.indexOf("access_token") > -1) {
            access_token = hash.split('=')[1].split('&')[0];
    
            $('#button').prop('disabled', true);
            $('#button').html('Authenticated');
    
            $('#result').html('Authenticated. Your access_token is: ' + access_token);
        } else {
            $('#result').html('Not authenticated yet.');
        }
    });
</script>

<%- include('../partials/footer') %>