<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<div class="container-fluid">
    <h1><%= location %></h1>
    <br />
    <h2><%= title %></h2>

    <a href="/swf/boarding">Boarding Read</a>
    <br />
    <a href="/swf/calendar">Calendar Read</a>
    <br />
    <a href="/swf/daycare">Daycare Read</a>
    <br />
    <a href="/swf/grooming">Grooming Read</a>
    <br />
    <a href="/swf/owner">Owner Read</a>
    <br />
    <a href="/swf/package">Package Read</a>
    <br />
    <a href="/swf/pet">Pet Read</a>
    <br />
    <a href="/swf/report">Report Read</a>
</div>




<%- include('../partials/footer') %>